<!DOCTYPE html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<style type="text/css">
* {
 font-size: 100%;
 font-family: sans-serif;
}    
body {
    text-align: center;
}
form {
    display: inline-block;
}
input[type=submit] {
    background-color: #0a6b3c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: bold;
  color: #0a6b3c;
  font-size: 32px;
}
</style>
</head>
<body>
<br>
<h1>fishfactory</h1>
<br>
<br>
<form action="submit_url" method='POST' onsubmit="let x = document.getElementById('splash'); x.style.display ='block';">
    <label form="url">Input URL:</label><br><br>
    <input type="text" id="url" name="url" size=30><br><br>
    <input type="submit" value="Submit"><br><br>
<div id="splash" style="display: none; z-index: 0;">
    <img src="/static/images/out.gif">
</div>
</form>
</body>
</html>